@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  background: #f7d5a3 /* #fff */;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}


header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  padding: 0 190px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  opacity: 0.9;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.navbar-list {
  display: flex;
  gap: 30px;
}
.navbar-list a {
  /*  color: #6d5105; */
  color: rgb(70, 69, 69);
  text-decoration: none;
}
.navbar .navbar-list .selected a {
  color: #f1d142;
  background-color: #794e04;
  padding: 0 5px;
}
header img {
  height: 100px;
  width: auto;
}
header label img {
  height: 50px;
  width: auto;
}
.titulos {
  background-image: url(../images/mustache50.jpg);
  margin: 0 auto;
  min-width: 100vw;
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

#titulos span {
  background-color: #0a0101;
  padding: 5px 10px;
}
#titulos {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 20vh;
  gap: 10px;
  background-color: transparent;
  color: #e0dddd;
}

.titulos #titulos #titulo {
  width: 90vw;
  background-color: #e2f1f8;
  font-weight: 8rem;
  padding: 20px;
  max-width: fit-content;
  color: #793d06;
  text-align: center;
  min
}

.edades {
  margin-top: -20px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  background-color: #eba244;
  border: #a3870b solid 2px;
}

.edades img{
  border:#a3870b solid 2px; 
}
.edades #padre{
  min-width: 350px;
  height: auto;
  border: #a3870b solid 2px;

}
#marco {
 display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  justify-content: center;
  text-align: center;

}

#marco h2{
  font-weight: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#marco span{
width: 50vw;
background-color: rgb(235, 235, 225);
border: black 2px solid;
}
#marco .article, .beneficios{
margin-bottom: 30px;
width: 40vw;
height: min-content;


}

#marco .article, .beneficios h3{
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

font-size: 1rem;
  font-family:Courier, monospace


}

#marco .article, .beneficios p{
  font-size: 0.9rem;
}
 #marco  img {
display: block;
width: 32%;
margin-top: 2%;
margin-left: 10px;
padding:  10px;
background-color: transparent;
border-radius: 5px;



}

.galeria{
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
 min-width: 1100px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 20px;
}






#body form {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 620px;
}
#body form input,
#body form textarea {
  border: 2px solid #252525;
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 596px;
}
#body form textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
#body form #send {
  background: #252525;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 20px 28px;
  width:;
  text-align: center;
}
#body form #send:hover {
  background: #fff;
  color: #252525;
  cursor: pointer;
}

.footer{
  display: flex;
  flex-wrap: nowrap;
}
#footer {
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}
#footer div {
  margin: 0 auto;

  padding: 0;
  width: max-content;
}
#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}
#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}
#footer div ul li a {
  background: url(../images/icons.jpg) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
  background-position: 0 0;
}
#footer div ul li #twitter:hover {
  background-position: -44px 0;
}
#footer div ul li #facebook {
  background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}
#footer div ul li #googleplus {
  background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
  background-position: -44px -88px;
}
#footer div ul li #pinterest {
  background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
  background-position: -44px -132px;
}



#body .ul-blog .li-blog a img {
  border-radius: 0%;
}

.galeria {
  background-color: #a1813c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#body .galeria {
  margin-top: 3%;
}

#body .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}



.blog {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 5%;
  background-color:transparent
}

.blog .card__blog {
  display: flex;
  max-width: 960px;
  min-width:700px ;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.blog .card__blog .imagen img {
  margin: 0 auto;
  border-radius: 10px;
}

.blog .card__blog .texto {
  background-color: #f7f8f7;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px rgb(248, 248, 247) solid;
  border-radius: 10px;
}

.blog .card__blog .texto p{
background-color: transparent;
}

h1 {
  background-color: #0f0f0f;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  font-size: 35px;
  font-weight: normal;

  text-transform: uppercase;
  margin-bottom: 3%;
  margin-top: 2%;
  padding: 20px;
}
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
@media only screen and (max-width: 1200px) {
  .galeria {
  min-width: 100%;
}
  

#footer .footer{
  background-color: transparent;
  color: #0a0101;
}
  .footer p{
    background-color: transparent;
    color: #0a0101;
    }
}
/*==========================================================*/

@media only screen and (max-width: 960px) {
  
*{
  box-sizing: content-box;
}
  header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
  }


  .navbar-list {
    width: 100%;
 margin-top: 2%;

    background-color: transparent;
   
  }



  .menu-label {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  #titulos {
   
  }
  .edades #padre{
    min-width: 200px;
    height: auto;
    border: #a3870b solid 2px;
  
  }


  .edades {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }



  #marco {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  #marco img {
    display: block;
    width: 28%;
  }
  .article {
  
    margin: 0 auto;
  }
  .galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     gap: 20px;
   margin: 0 auto;
    padding:  10px 0;
    min-width: 40%;
    margin-bottom: 20px;
   }
   


  .blog {
  max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
flex-wrap: wrap;
    margin-bottom: 5%;
    background-color:transparent
  }
  
  .blog .card__blog {
    display: flex;
    background-color: transparent;
  flex-direction: column;
    margin: 0 auto;
    justify-content:baseline;
    width: 320px;
    min-width: auto;

  }
  .blog .card__blog .imagen img {
    margin: 0 auto;
    border-radius: 10px;
   display: block;
   width: 50%;
   height: 50%;
  }
  
  .blog .card__blog .texto {
    background-color: #f7f8f7;
    height: 120px;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: xx-small;
    width: 320px;
    margin: 0 auto;
  }
  
  .blog .card__blog .texto p{
  background-color: transparent;
  font-size:small;
  width: 320px;
  }
  #footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   max-width: 67%;
   min-width: 68%;
  justify-items: center; 
  align-items: center;
  margin: 0 auto;
  background-color: 
   }

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #0a0101;
  margin-top: 10px;
}

   #body form #send{
  width: auto;
  text-align: center;
 }

  #body form {
  width: 400px;
  }
  #body form input,
  #body form textarea {
  width: 400px;
  }

  form{
    text-align: center;
  }


}

@media (max-width: 580px) {
  
  .galeria {
    background-color: transparent;
  }

  .galeria span img{
    width: 100%;

   }
  header{
    width: 30%;
  }
  .footer {

    background-color: transparent;
   }

   .footer p{
   background-color: transparent;
   }
  .imagen {
    border-radius: 0 0 40px 40px;
  }
  .blog {
    display: flex;
   min-width: 40%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin-bottom: 5%;
    background-color:transparent
  }


  
  .blog .card__blog .texto {
 
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px rgb(248, 248, 247) solid;
    border-radius: 10px;
    font-size: xx-small;
  }
  
  form{
    text-align: center;
  }

}
