@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  background:#f7f8f7
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
}



.imagen-inicial .icono {
  position: absolute;
  display: block;
  width: 9%;
  background-color:transparent;
  top: 10%;
  left: 10%;
  border-radius: 90%;

}

.imagen-inicial .icono2 {
  position: absolute;
  display: block;
  width: 9%;
  background-color:transparent;
  top: 10%;
  right: 10%;
  border-radius: 90%;

}



.imagen-inicial img{
  display: block;
width: 100%;
height: auto;
text-align: center;
  background-color:black;
}





 #menu-toggle {
  display: none;
}
 .menu-icon, .menu-label{
  display: none;
}


.navbar-list a:hover {
  color: rgb(112, 44, 4);
}
header {
  margin-top: -207px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
  position: relative;
}
.navbar {
  display: flex;
}
.navbar-list {
  display: flex;
  gap: 80px;
}
.navbar-list a {
  color: rgb(243, 238, 238);
  text-decoration: none;
}
.navbar .navbar-list .selected a {
  color: #f1d142;
  background-color: #794e04;
  padding: 0 5px;
}

header label img {
  height: 50px;
  width: auto;
}




.edades {
  margin-top: -20px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
   margin-bottom: 50px;
   height: 70%;
}


.section .box img{
  width: 60%;
  border:#ad365a solid 2px; 
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.edades .section{
  width: 70%;
height: 70%;
display: flex;
justify-content: center;
border: solid 2px brown;
align-items: center;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.edades .section .box{
height: 50%;
  }
  .edades .section .box .hover{
font-size: medium;
      }
      
  

.info{
  background-color: #181818;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: antiquewhite;
  width: 70%;
  margin: 0 auto;
  padding: 2%;
}


#marco {
 display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  justify-content: center;
  text-align: center;

}

#marco h2{
  font-weight: 5rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
#marco span{
width: 50vw;
background-color: rgb(235, 235, 225);
border: black 2px solid;
}
#marco .article, .beneficios{
margin-bottom: 30px;
width: 40vw;
height: min-content;


}

#marco .article, .beneficios h3{
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
background-color: antiquewhite;
font-size: 1rem;
  font-family:Courier, monospace;
  color: #252525;


}

#marco .article, .beneficios p{
  font-size: 0.9rem;
  background-color:#0f0f0f;
  color: antiquewhite;
  padding: 10px ;
  margin: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  border:#b44768 solid 4px
}

 .servicios img {
display: block;
width: 32%;

margin-left: 10px;
padding:  10px;
background-color: transparent;

border-radius: 16px;


 }
.servicios:hover{

  transform: scale(1.5); 
  transition-duration: 0.9s ; 
  transition-timing-function:ease-in-out;
  transition-delay:.1s
}



.galeria{
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
 min-width: 1100px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.galeria span img:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transform: scale(1.2); 
    transition-duration: 0.9s ; 
    transition-timing-function:ease-in-out;
    transition-delay:.1s
  
}

#body form {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 620px;
}
#body form input,
#body form textarea {
  border: 2px solid #252525;
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 596px;
}
#body form textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
#body form #send {
  background: #252525;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 20px 28px;
  width:;
  text-align: center;
}
#body form #send:hover {
  background: #fff;
  color: #252525;
  cursor: pointer;
}






.footer{
  display: flex;
  flex-wrap: nowrap;
}
#footer {
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}
#footer div {
  margin: 0 auto;

  padding: 0;
  width: max-content;
}
#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}
#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}
#footer div ul li a {
  background: url(../images/icons.jpg) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
  background-position: 0 0;
}
#footer div ul li #twitter:hover {
  background-position: -44px 0;
}
#footer div ul li #facebook {
  background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}
#footer div ul li #googleplus {
  background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
  background-position: -44px -88px;
}
#footer div ul li #pinterest {
  background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
  background-position: -44px -132px;
}





.galeria {
  background-color:#f5c8d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#body .galeria {
  margin-top: 3%;
}

#body .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}



.blog {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 5%;
  background-color:transparent
}

.blog .card__blog {
  display: flex;
  max-width: 960px;
  min-width:700px ;
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.blog .card__blog .imagen img {
  margin: 0 auto;
  border-radius: 10px;
}




.blog .card__blog .texto {
  background-color: #f7f8f7;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px rgb(248, 248, 247) solid;
  border-radius: 10px;
}

.blog .card__blog .texto p{
background-color: transparent;
}

h1 {
  background-color: #0f0f0f;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  font-size: 35px;
  font-weight: normal;

  text-transform: uppercase;
  margin-bottom: 3%;
  margin-top: 2%;
  padding: 20px;
}
.section{
  width: 100%;
  height: 50%;
  background-color: rgb(255, 240, 250);
  display: flex;
  justify-content: center;
  align-items: center;

}

.box{
  width: 33%;
  height: 50%;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1.5%;
}

.box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform .9s; 
}

.box:hover{
  transform: scale(1.2); 
}
.box .hover{
  width: 0%;
  height: 100%;
  background-color: rgba(56, 53, 53, 0.568);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .9s all;
}

.hover h1{
  color: rgb(238, 128, 210);
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  text-transform: uppercase;
  background-color: transparent;
  }


.box:hover .hover{
  width: 100%;
 
}

#marco .servicios{
  background-color: rgb(194, 193, 193);
  width: 30%;
  max-height: 20%;
  margin-bottom: 1.5%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
@media only screen and (max-width: 1200px) {
  .imagen{
    width: 100%;
    height: auto;
    text-align: center;
      background-color:black;
    }
  .galeria {
  min-width: 100%;
}


#footer .footer{
  background-color: transparent;
  color: #0a0101;
}
  .footer p{
    background-color: transparent;
    color: #0a0101;
    }
    .section{
      width: 100%;
      height: 50%;
      background-color: rgb(255, 240, 250);
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    
    .box{
      width: 33%;
      height: 50%;
      text-align: center;
      overflow: hidden;
      position: relative;
      margin: 1.5%;
    }
    
    .box img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    
    .box .hover{
      width: 0%;
      height: 100%;
      background-color: rgba(56, 53, 53, 0.568);
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: .9s all;
    }
    
    .hover h1{
      color: aliceblue;
      text-shadow: 1px 1px 1px black;
      font-size: 2.5em;
      text-transform: uppercase;
      background-color: transparent;
      }

    }
    .box:hover .hover{
      width: 100%;
     
    }

/*==========================================================*/

@media only screen and (max-width: 960px) {

*{
  box-sizing: content-box;
}

  header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
  }


  .navbar-list {
    width: 100%;
 margin-top: 2%;
 gap: 10px;
    background-color: transparent;
   
  }



  .menu-label {
    display: none;
  }

  #menu-toggle {
    display: none;
  }


  .edades #padre{
    min-width: 200px;
    height: auto;
    border: #a3870b solid 2px;
  
  }


  .edades {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

.section{
  margin-bottom: 40px;
}

  #marco {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

  
  }

  #marco img {
    display: block;
    width: 28%;
  }
  .article {
  
    margin: 0 auto;
  }
  .galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     gap: 20px;
   margin: 0 auto;
    padding:  10px 0;
    min-width: 40%;
    margin-bottom: 20px;
   }
   


  .blog {
  max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
flex-wrap: wrap;
    margin-bottom: 5%;
    background-color:transparent
  }
  
  .blog .card__blog {
    display: flex;
    background-color: transparent;
  flex-direction: column;
    margin: 0 auto;
    justify-content:baseline;
    width: 320px;
    min-width: auto;

  }
  .blog .card__blog .imagen img {
    margin: 0 auto;
    border-radius: 10px;
   display: block;
   width: 50%;
   height: 50%;
  }
  
  .blog .card__blog .texto {
    background-color: #f7f8f7;
    height: 120px;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: xx-small;
    width: 320px;
    margin: 0 auto;
  }
  
  .blog .card__blog .texto p{
  background-color: transparent;
  font-size:small;
  width: 320px;
  }
  #footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   max-width: 67%;
   min-width: 68%;
  justify-items: center; 
  align-items: center;
  margin: 0 auto;
  background-color: 
   }

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #0a0101;
  margin-top: 10px;
}

   #body form #send{
  width: auto;
  text-align: center;
 }

  #body form {
  width: 400px;
  }

  #body form input,
  #body form textarea {
  width: 400px;
  }

  form{
    text-align: center;
  }

   
   header img{
    width: 40%;
    margin-top: 9%;
   }
   header .navbar .navbar-list li a{
 color: #0a0101;
  margin: 10px;
   }

}
/*=============================================*/
/*=============================================*/
/*=============================================*/


@media (max-width: 580px) {


  .navbar {
    width: 100%;
  }
  
.navbar .menu-label  img{
margin-left: 50px;
margin-top:0%;
margin-bottom: 5%;

}

 .navbar-list {
    position: absolute;
    top: -230px; 
    width: 25vw;
    height: 28vh; 
    border: snow solid 2px;

    flex-direction: column;
    background-color: #472203;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    display: none;
    align-items: center;
    justify-content: center;

 
  }
  .titulos {
    background-image: url(../images/mustache500.jpg);
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100px;
    
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .navbar .menu-label {
    display: flex;
    cursor: pointer;
    margin-top: 5%;
  }
  .section{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 240, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  #menu-toggle {
    display: none;
  }
  .navbar-list a {
    color: rgb(14, 13, 13);
    padding: 0 20px;
    background-color: #f1d142;
  }

  .navbar #menu-toggle:checked ~ .navbar-list {
    display: flex;
  }
  .galeria {
    background-color: transparent;
  }

  .galeria span img{
    width: 100%;

   }
  header{
    width: 30%;
  }
  .footer {

    background-color: transparent;
   }

   .footer p{
   background-color: transparent;
   }
  .imagen {
    border-radius: 0 0 40px 40px;
  }
  .blog {
    display: flex;
   min-width: 40%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
   
    margin-bottom: 5%;
    background-color:transparent
  }
  
  .blog {
background-color:#e2c235;
width: 100%;
display: flex;
flex-direction: column;
gap: 40px;
justify-content: center;
align-items: center;
background-color: transparent;
  }
  
  .blog .card__blog{
background-color: transparent;
  }
  .blog .card__blog .texto {
    width: 60vw;
    border: 4px rgb(248, 248, 247) solid;
    border-radius: 10px;
    font-size: xx-small;
    margin: 0 auto;
    background-color: transparent;
  }
  
  form{
    text-align: center;
  }
  
  .titulos #titulos  {
    display: none;
  }
  #kiko-slider > ul.slider {

 display: block;
    width: 100%;
 
    margin-bottom: 0px;
  }
  .edades .section .box{
    height: 60%;
      }
      .edades .section .box .hover{
    font-size:xx-small;
          }
          
          .edades {
            margin-bottom: 9%;
          }
}

/*00000000000000000000000000000000000000000000000000000000*/



